@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;

  min-height: 100lvh;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
